.btn-theme {
    @apply bg-theme border-theme text-white;
}

.btn-theme:hover {
    @apply bg-transparent text-theme border-theme;
}

.btn-theme-outline {
    @apply border-theme text-theme bg-transparent;
}

.btn-theme-outline:hover {
    @apply text-base-100 bg-theme border-theme;
}

.carousel-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #151515 0%, rgba(21, 21, 21, 0) 100%);
    border-radius: 0.5rem;
}